BetterDiscord/
autostart/
discord/
dconf/
enchant/
evolution/
gedit/
gnome-control-center/
goa-1.0/
google-chrome/
gtk-3.0/
gtk-4.0/
ibus/
kinto/
lunarclient/
pop-shell/
pop-system-updater/
pulse/
qalculate/
touchegg/
nautilus/
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale
monitors.xml
monitors.xml~
